.lineainfo{
    width: 100%;
    min-height: 14.2vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lineainfo-imagenes{
    margin-right: 105px;
    margin-top: 4px;
}
.lineainfo-imagenes img{
    width: 70px;
    border-radius: 50%;
    margin-left: 100px;
}


@media (max-width: 1290px) {
    .lineainfo-imagenes img {
        width: 85px;
        
    }
}
@media (max-width: 1024px) {
    .lineainfo-imagenes img {
        width: 60px;
        margin-left: 50px;
    }
}
/* Responsivo para 800px a 768px */
@media (max-width: 800px) and (min-width: 768px) {
    .lineainfo-imagenes img {
        width: 50px;
        margin-left: 50px;
    }
}

/* Responsivo para 414px a 350px */
@media (max-width: 414px) {
    .lineainfo-imagenes {
        margin-right: 0;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
    
    .lineainfo-imagenes img {
        width: 40px;
        margin-left: 0;
        margin-top: 10px;
    }
}